@inherits ProductsBase

@if (Products == null)
{
	<Spinner></Spinner>
}
else
{
	
	var productCount = Products.Count();
	<div >

		<h3 class="text-center">All Products</h3>


		@if (productCount > 0)
		{

			@foreach (var productGroup in GetProductsGroupedByCategory())
			{
				<div class="category-group">
					<h5 class="p-3">@GetCategoryName(productGroup)</h5>

					<div class="row mt-3">
						<DisplayProducts Products="productGroup"></DisplayProducts>
					</div>
				</div>
			}
		}
	</div>
}