:root {
}

.page {
    font-family: 'Manrope', sans-serif;
}

main {
    flex: 1;
    margin-top: 100px;
    padding: 0 20px;
}

header {
    background-color: rgba(0, 0, 0, .5);
    background-image: url("https://images.unsplash.com/photo-1555529669-e69e7aa0ba9a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
    background-size: cover;
    background-blend-mode: multiply;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-text{
    color: white;
    text-align: center;
    font-size: 2em
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }
}

.footer{

}