@inherits LayoutComponentBase


<div class="page">

    <header>
        <NavBar />
		<h5 class="header-text">CHOOSE FROM AWESOME COLLECTIONS</h5>
    </header>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>

    <PageFooter></PageFooter>
    
</div>
