<footer class="main-footer">
	<div class="main-footer-container">
		<h3 class="brand-name">ELEZZBA</h3>
		<ul class="brand-links">
			<li><a href="facebook.com"><i class="bi bi-facebook"></i></a></li>
			<li><a href="facebook.com"><i class="bi bi-instagram"></i></a></li>
			<li><a href="facebook.com"><i class="bi bi-tiktok"></i></a></li>
		</ul>
	</div>
</footer>	